* {
    box-sizing: border-box;
}


.barranav {
    background-color: rgb(36, 36, 122);
    height: 110px;
    color: white;
}

.titlenav {
    color: yellow;
    text-align: left;
    padding-top: 20px;
    margin-left: 35px;
}

header .centrar {
    text-align: center;
}

a{ 
    text-decoration: none;
    font-size: 20000px;
}

a:hover{
  text-decoration: none;
}


.linksbarra {
    color: white;

    font-size: 20px;
    padding: 10px;
}

header .centrar a:hover{
    color: rgb(95, 95, 95);
    transition: color .4s;
}


body {
    background-color: rgb(1, 7, 17);
    color: white;
}


p {
    color: black;
}

/*************************************************/
.scroll-tray {
    white-space: nowrap;
  }
  .scroll-tray div {
    display: inline-block;
  }

  .scroll-tray img {
    border-radius: 0.3rem;
    margin: 7px 5px;
    padding: 0;
    /* height: 200px; */
    width:  340px;
  }

  .scroll-holder {
    overflow-x: hidden;
  }

  .scroll-holder .scroll-tray:first-child {
    animation: scroll-tray-hero 180s linear infinite;
  }

  .scroll-holder .scroll-tray:last-child {
    animation: scroll-tray-hero 120s linear infinite;
  }

  @keyframes scroll-tray-hero {
    0% {
      transform: translateX(0);
    }

    99.99% {
      transform: translateX(-7098px);
    }

    100% {
      transform: translateX(0);
    }
  }