* {
    box-sizing: border-box;
}


.barranav {
    background-color: rgb(36, 36, 122);
    height: 110px;
    color: white;
}

.titlenav {
    color: yellow;
    text-align: left;
    padding-top: 20px;
    margin-left: 35px;
}

header .centrar {
    text-align: center;
}

a{ 
    text-decoration: none;
    font-size: 20000px;
}


.linksbarra {
    color: white;

    font-size: 20px;
    padding: 10px;
}

a:hover{
    text-decoration: none;
}

header .centrar a:hover{
    color: rgb(95, 95, 95);
    transition: color .4s;
}


body {
    background-color: rgb(17, 15, 15);
    color: white;
}
